$family-serif: "acuta", serif

$family-primary: $family-serif

.content
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-family: "cabazon", serif

.gallery .item img
  max-width: none
  max-height: 100vh
  position: absolute
  top: -9999px
  bottom: -9999px
  left: -9999px
  right: -9999px
  margin: auto

@import "bulma"
@import "gallery.prefixed.css"
@import "gallery.theme.css"