$family-serif: "acuta", serif

$family-primary: $family-serif

.content
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-family: "cabazon", serif

.gallery
  a
    display: block

.gallery .item img
  max-width: none
  max-height: 100vh
  position: absolute
  top: -1000px
  bottom: -1000px
  left: -1000px
  right: -1000px
  margin: auto

@import "bulma"
@import "gallery.prefixed.css"
@import "gallery.theme.css"