---
title: The Old Bowling Green
---

<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<div id="links">
  <a href="http://placehold.it/800x500/FFAAAA" title="The Old Bowling Green">
  </a>
  <a href="http://placehold.it/800x500/D46A6A" title="Dining at 'The Green'">
  </a>
  <a href="http://placehold.it/800x500/AA3939" title="From our Bar">
  </a>
</div>

<div>
  <article class="content">
    <a name="content"><h1>The Old Bowling Green</h1></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elit est, malesuada ac erat a, malesuada hendrerit velit. Mauris accumsan suscipit risus, sed posuere leo porttitor ac. Quisque a eros varius, fringilla dui sit amet, ultricies urna. Nam nec lobortis nulla, at aliquet sapien. Aliquam erat volutpat. Aliquam vulputate massa eget neque tincidunt, sed commodo justo dapibus. Integer at ultricies enim. Maecenas malesuada convallis cursus. Praesent eget libero elementum, commodo urna viverra, aliquet ex. Praesent suscipit nulla non iaculis viverra. Duis tempor lectus elit, non pharetra libero sollicitudin eu.</p>
  </article>
</div>